html1 {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin: 0;
  padding: 0;
}


.card1  {
    background-color: rgb(229, 241, 184);
    text-align: center;
    margin-bottom: 10px;
   }

   .lead1 {    
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 26px;    
    vertical-align: baseline;
    text-align: center;
    color: #ee0404;
}

:root {
 --base: #ffc600;
 --spacing: 10px;
 --blur: 10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}
.hl {
    color: var(--base);
    /* color: red; */

}

section {
    justify-content: center;
    flex:1;
    padding-top: 40px;
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }

.controls {
    margin-bottom: 50px;
  }

  input {
    width: 100px;
  }
